doctype html
html(lang="en" data-framework="react")
    head
        meta(charset='utf-8')
        title React+Bacon.js • TodoMVC
        link(rel='stylesheet', href='styles/app.css')
    body
         section#todoapp
         footer#info
            p Double-click to edit a todo
            p Created by 
                a(href="http://github.com/milankinen/") milankinen

         script(src='scripts/app.js')

